/*custom css goes here*/
body
{ 
    background: #7503a6; 
    background: -moz-linear-gradient(top, #6f17a9 0%, #37033b 100%); 
    background: -webkit-linear-gradient(top, #50296b 0%, #9357a3 100%); 
    background: -o-linear-gradient(top, #c385ce 0%, #462277 100%); 
    background: linear-gradient(to bottom, #7f587b 0%,#5d3a67 100%); 
    color: white !important;
    text-align: center !important; 
}

#questions
{
  margin: 60px;
  padding: 20px;
}


#about
{
  padding: 50px;
  margin: 80px;
}




#formDescription
{
  max-width: 500px;
  margin: 20px auto; /* Updated margin to auto for center alignment */
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Center aligning the text */
}
